body{
    background-color: lightgrey;
}
h1:hover{
    color: red;
}
button{
    color: rgb(239, 233, 233);
    background-color: rgb(246, 16, 16);
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
button:hover{
    background-color: rgb(128, 255, 0);
    color: red;
    margin-left: 30px;
    transition: 1s;
}
button:focus{
    background-color: blue;
}

input{
    border: none;
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    padding: 10px;
}
input:focus{
    background-color: grey;
    outline-color: red;
    border-radius: 8px;
}
a{
    font-size: 20px;
}
a:active{
    color: rgb(255, 217, 0);
}
a:visited{
    color: green;
}

/* div p:first-child{
    font-size: 30px;
    color: red;
} */

div p:first-child{
    font-size: 30px;
    color: red;
}
h2{
    text-align: center;
}
tr{
    text-align: center;
}
tr:nth-child(even){
    background-color: aqua;
}